// radio + checkbox STYLED

.radio-checkbox-wrap{
    padding: 0;

    &.stacked {
        .input-wrap {
            display: block;
        }
        label {
            display: block;
            margin-bottom: rem-calc(3px);
            margin-right: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &.standalone {
        margin-top: rem-calc(23px);
        margin-right: 0;
    }
    &:hover {
        .label {
            display: block;
            opacity: 1;
        }
    }
    .input-wrap {
        display: flex;
        margin-top: rem-calc(1);
    }
    .alert.label {
        margin-top: rem-calc(0);
    }
    label {
        color: $body-font-color;
        font-size: rem-calc(14px);
        flex: 1 0 auto;
        > span {
            display: flex;
        }
    }
    .input-base, .label-text {
        flex: 0 0 auto;
    }
    .input-base {
        display: flex;
    }

    .checkbox-radio-label{
        color: $body-font-color;

        font-size: rem-calc(14px);
        margin: rem-calc(2px) rem-calc(8) 0 0;
        vertical-align: baseline;
        white-space: nowrap;

    }
}



$styled-inputs: (radio, checkbox);
@each $key in $styled-inputs {
    [type='#{$key}'] {
        display: none ;
        //visibility: hidden;

        &[required] {
            display: none ;
        }
        & + i {
            @extend .fis-icon-#{$key};
            // Demo: border: 1px solid $secondary-color;
            position: relative;
            text-outline: none;
            margin-right: 0.3rem;
            margin-top: rem-calc(1);

        }
        &:focus + i {
            //@include sprite-icon($key+'-active', bg);
        }
        &:checked + i {
            @extend .fis-icon-#{$key}-checked;
        }
        &:disabled + i {
            @extend .fis-icon-#{$key}-inactive;
        }
        &:checked:disabled + i {
            @extend .fis-icon-#{$key}-checked-inactive;
        }
        &.is-invalid-input + i {
            @extend .fis-icon-#{$key}-error;
        }
        &:checked.is-invalid-input + i {
            @extend .fis-icon-#{$key}-checked-error;
        }

    }
}
