.fis-tabpanel {
    $margin: map_get($grid-column-responsive-gutter, medium) / 2 * -1;
    margin-left: $margin;
    margin-right: $margin;
    border-right: 2px solid $white;
    .tabs-tablist {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: $white;
    }

    .tabs-tablistItem {
        display: inline-block;

    }

    .tabs-tablistItem + .tabs-tablistItem {
        margin-left: rem-calc(1px);
    }

    .tabs-panel {
        background: get-fis-colors(grayscale-1, base);
        padding: 0 0 0 rem-calc($margin * -1);
    }

    .tabs-tab {
        cursor: pointer;
        font-size: $small-font-size;
    }

    .tabs-tab:focus {
        box-shadow: none;
        outline: none;
        outline-width: 0;
    }

    .tabs-tabInner {
        border-radius: $button-radius;
        position: relative;
        padding: 7px 8px;
        position: relative;
        &.is-active {
            background: get-fis-colors(grayscale-1, base);
            font-weight: 700;
        }
    }

    .tabs-tabInner

    .tabs-tabInner.is-active::after {
        content: "";
        background: $white;
        height: 1px;
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
    }
}