.fis-dropdown-menu {

    &.rc-menu {
        outline: none;
        margin: 0;
        padding: 0;
        z-index: 99999;
        position: relative;
    }
    .first {
        .rc-menu {
            border: 1px solid get-fis-colors(grayscale-3, base);
            box-shadow: 0 0 4px 0 rgba($black, 0.5);
            .rc-menu-submenu > .rc-menu-submenu-title {
                @extend .fis-icon-arrow-right;
                background-position: 104% center;
                background-size: auto;
                width: auto;
                height: auto;
                padding-right: rem-calc(25px);
            }
            a {
                color: $body-font-color;
                display: block;
            }
            .edit-favs a {
                color: $anchor-color;
            }
        }
    }

    li {
        list-style: none;
    }

    .rc-menu-hidden {
        display: none;
    }
    .rc-menu-item-group-list {
        margin: 0;
        padding: 0;
    }
    .rc-menu-item-group-title {
        line-height: 1.5;
        padding: 8px 10px;
        border-bottom: 1px solid #dedede;
    }

    .rc-menu-inline > .rc-menu-item-active:hover,
    .rc-menu-item-active,
    .rc-menu-submenu-active:not(.first),
    .rc-menu-submenu-inline.rc-menu-submenu-active > .rc-menu-submenu-title:hover {
        background-color: get-fis-colors(addon-1, base);
    }
    .rc-menu-item-selected:not(.first) {
        background-color: get-fis-colors(addon-1, base);
    }
    .rc-menu > li.rc-menu-submenu {
        padding: 0;
    }
    .rc-menu-submenu-horizontal > .rc-menu {
        top: 100%;
        left: 0;
        position: absolute;
        min-width: map_get($dropdown-sizes, small);
        margin-top: 4px;
    }
    .rc-menu-submenu-vertical > .rc-menu {
        top: -1px;
        left: 100%;
        position: absolute;
        min-width: map_get($dropdown-sizes, small);
        margin-left: 4px;
    }
    .rc-menu-item,
    .rc-menu-submenu-title {
        margin: 0;
        position: relative;
        display: block;
        padding: 0;
        white-space: nowrap;

    }

    .rc-menu > .rc-menu-item-divider {
        height: 1px;
        margin: 1px 0;
        overflow: hidden;
        padding: 0;
        line-height: 0;
        background-color: #e5e5e5;
    }
    .rc-menu-submenu {
        position: relative;
    }
    .rc-menu-submenu > .rc-menu {
        background-color: #fff;
    }
    .rc-menu .rc-menu-submenu-title .anticon,
    .rc-menu .rc-menu-item .anticon {
        width: 14px;
        height: 14px;
        margin-right: 8px;
        top: -1px;
    }

    .rc-menu-horizontal > .rc-menu-submenu,
    .rc-menu-horizontal > .rc-menu-item {
        float: left;
    }

    .rc-menu-horizontal:after {
        content: "\20";
        display: block;
        height: 0;
        clear: both;
    }

    .rc-menu-vertical > .rc-menu-item a,
    .rc-menu-inline > .rc-menu-item a,
    .rc-menu-vertical > .rc-menu-submenu > .rc-menu-submenu-title,
    .rc-menu-inline > .rc-menu-submenu > .rc-menu-submenu-title {
        padding: rem-calc(3) rem-calc(25px) rem-calc(3) rem-calc(10);
        cursor: pointer;
    }
    .rc-menu-vertical.rc-menu-sub {
        padding: 0;
        margin-left: 0;
    }
    .rc-menu-sub.rc-menu-inline {
        padding: 0;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }
    .rc-menu-sub.rc-menu-inline > .rc-menu-item,
    .rc-menu-sub.rc-menu-inline > .rc-menu-submenu > .rc-menu-submenu-title {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 0;
    }

}
