.fis-grid-column > .fis-text{
    margin-top: rem-calc(22);
    margin-bottom: 0;
}

.fis-text {
    font-size: rem-calc(14);
}

// TODO: delete this demo by making radio-legends
.fis-grid-column > .fis-text.non-margin {
    margin-top: 0;
    margin-bottom: 0;
}