$input-prefix-color: $black;
$input-prefix-background: get-fis-colors(grayscale-3, base);
$input-prefix-border: 1px solid get-fis-colors(grayscale-3, base);
$input-prefix-padding: 1rem;

.input-group {
    display: table;
    margin-bottom: $form-spacing;
    width: 100%;
}

%input-group-child {
    margin: 0;
    vertical-align: middle;
}

.input-group-label {
    @extend %input-group-child;
    background: $input-prefix-background;
    border: $input-prefix-border;
    color: $input-prefix-color;
    height: 100%;
    padding: 0 $input-prefix-padding;
    text-align: center;

    @if has-value($input-prefix-border) {
        &:first-child {
            border-#{$global-right}: 0;
        }

        &:last-child {
            border-#{$global-left}: 0;
        }
    }
}

.input-group-field {
    @extend %input-group-child;
}

.input-group-button {
    @extend %input-group-child;
    height: 100%;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    a,
    input,
    button {
        margin: 0;
    }
}
