// single buttons maps
$actionbar-default : (
    color: $secondary-color,
    background: $white,
    border-color: $white,
    hover-background: $light-gray,
    hover-color: $secondary-color,
    hover-border-color: $light-gray,
    disabled-color: $medium-gray,
);

$actionbar-constructive : (
    color: $white,
    background: $primary-color,
    border-color: $primary-color,
    hover-background: $primary-color-highlight,
    hover-color: $white,
    hover-border-color: $primary-color-highlight,
    disabled-color: $white,
);

$actionbar-destructive: (
    color: $primary-color,
    background: $white,
    border-color: $primary-color,
    hover-background: $light-gray,
    hover-color: $primary-color-highlight,
    hover-border-color: $primary-color-highlight,
    disabled-color: $primary-color,
);

$content-default : (
    color: $secondary-color,
    background: $white,
    border-color: $secondary-color,
    hover-background: $light-gray,
    hover-color: $secondary-color-highlight,
    hover-border-color: $secondary-color-highlight,
    disabled-color: $secondary-color,
);

$content-hero: (
    color: $white,
    background: $secondary-color,
    border-color: $secondary-color,
    hover-background: $secondary-color-highlight,
    hover-color: $white,
    hover-border-color: $secondary-color-highlight,
    disabled-color: $medium-gray,
);


$btn-icon: (
    color: $body-font-color,
    background: inherit,
    border-color: transparent,
    hover-background: inherit,
    hover-color: $body-font-color,
    hover-border-color: transparent,
    disabled-color: $white,
);
$btn-icon-styled: (
    color: $body-font-color,
    background: get-fis-colors(grayscale-2, base),
    border-color: get-fis-colors(grayscale-4, base),
    hover-background:  get-fis-colors(grayscale-2, base),
    hover-color: $body-font-color,
    hover-border-color: get-fis-colors(grayscale-4, base),
    disabled-color: $white,
);

// buttons MAP including single button maps
$buttons : (
    actionbar-default: $actionbar-default,
    actionbar-constructive: $actionbar-constructive,
    actionbar-destructive: $actionbar-destructive,
    content-default: $content-default,
    content-hero: $content-hero,
    btn-icon: $btn-icon,
    btn-icon-styled: $btn-icon-styled
);


// create buttons
@mixin fis-button {
    .button {
        // include default FOUNDATION button styles
        @include button-base;
        //Generate class for each variant
        text-align: left;
        margin: 0;
        @each $variant, $properties in $buttons {
            &.#{$variant} {
                background-color: #{map-get($properties, background)};
                border-color: #{map-get($properties, border-color)};
                color: #{map-get($properties, color)};
                &:hover,
                &.hovered, &:active, &:focus {
                    outline: none;
                    box-shadow: 0 0 4px #{map-get($properties, hover-border-color)};
                    background-color: #{map-get($properties, hover-background)};
                    border-color: #{map-get($properties, hover-border-color)};
                    color: #{map-get($properties, hover-color)};
                }
                &.disabled {
                    color: #{map-get($properties, disabled-color)};
                }
            }
        }
        // Disabled style
        &.disabled {
            @include button-disabled;
        }
        &.btn-icon, &.btn-icon-styled {
            padding: $button-icon-padding;
        }
    }
}
@include fis-button;