.fis-modal {
    display: flex;
    left: -999em;
    opacity: 0;
    position: fixed;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    top: -999em;
    z-index: 9999;
    &:before,
    &:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
    }
    &.show {
        opacity: 0.9;
        margin-top: 0px;
        margin-left: 0px;
        visibility: visible;

    }
}
