<div id="fis-E4842-pattern" class="fis-app-pattern"></div>
<script type="text/javascript">
    (function() {
        FisPatterns.ReactDOM.render(
                FisPatterns.React.createElement(FisPatterns.E4842, {}),
                document.getElementById("fis-E4842-pattern")
        );
    })();
</script>