<div id="fis-V7300Cleaned-pattern" class="fis-app-pattern"></div>
<script type="text/javascript">
    (function() {
        FisPatterns.ReactDOM.render(
                FisPatterns.React.createElement(FisPatterns.V7300Cleaned, {}),
                document.getElementById("fis-V7300Cleaned-pattern")
        );
    })();
</script>
