// react-data-grid uses Stylus-CSS to build there CSS so we have to work around:
// import the 'index-no-normalize.css' into http://sebastianpontow.de/css2compass/
// reset the vars with FIS variables and 'normalize' the output / reduce color and rename them
// delete used stuff: html.u-app, etc.


//colors
$black_20: rgba(0,0,0,0.2);

$data-grid-grey1: get-fis-colors(grayscale-1, base);
$data-grid-grey2: get-fis-colors(grayscale-2, base);
$data-grid-grey3: get-fis-colors(grayscale-3, base);
$data-grid-grey4: get-fis-colors(grayscale-4, base);


$data-grid-alt1: get-fis-colors(addon-1, base);
$data-grid-alt2: get-fis-colors(addon-2, base);
$data-grid-alt3: get-fis-colors(addon-3, base);


//@extend-elements
//original selectors
//.u-flex-flow-row, .u-flex-row
%extend_1 {
    flex-flow: row;
    flex-direction: row;
    //Instead of the line below you could use @include box-orient($orientation)
    box-orient: horizontal;
}

//original selectors
//.u-flex-flow-column, .u-flex-column
%extend_2 {
    flex-direction: column;
    flex-flow: column;
    //Instead of the line below you could use @include box-orient($orientation)
    box-orient: vertical;
}

//original selectors
//.u-inflexible, .u-flex-0
%extend_3 {
    flex: 0;
    flex-shrink: 1;
    flex-basis: 1;
}

//original selectors
//.react-datagrid .z-header, .react-datagrid .z-summary, .react-datagrid .z-table .z-row
%extend_4 {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    //Instead of the line below you could use @include box-orient($orientation)
    box-orient: horizontal;
    z-index: 1;
}

//original selectors
//.react-datagrid.z-with-column-menu .z-column-header .z-show-filter, .react-datagrid.z-with-column-menu .z-column-header .z-show-menu
%extend_5 {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    width: 15px;
    height: 100%;
    border-left: 1px solid $data-grid-grey4;
}


.loadmask {
    z-index: 100;
    .loader {
        .loadbar {
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 50px;
            //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
            box-shadow: 0 0 3px $black_20;
            position: absolute;
            left: 44.5%;
            top: 37%;
            width: 12%;
            height: 26%;
            background: $black;
            animation: loader-fade 1s linear infinite;
            opacity: 0;
        }
        .loadbar-1 {
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: rotate(0deg) translate(0, -142%);
            animation-delay: 0s;
        }
        .loadbar-2 {
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: rotate(30deg) translate(0, -142%);
            animation-delay: -0.9167s;
        }
        .loadbar-3 {
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: rotate(60deg) translate(0, -142%);
            animation-delay: -1.8333s;
        }
        .loadbar-4 {
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: rotate(90deg) translate(0, -142%);
            animation-delay: -2.75s;
        }
        .loadbar-5 {
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: rotate(120deg) translate(0, -142%);
            animation-delay: -3.6667s;
        }
        .loadbar-6 {
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: rotate(150deg) translate(0, -142%);
            animation-delay: -4.5833s;
        }
        .loadbar-7 {
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: rotate(180deg) translate(0, -142%);
            animation-delay: -5.5s;
        }
        .loadbar-8 {
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: rotate(210deg) translate(0, -142%);
            animation-delay: -6.4167s;
        }
        .loadbar-9 {
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: rotate(240deg) translate(0, -142%);
            animation-delay: -7.3333s;
        }
        .loadbar-10 {
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: rotate(270deg) translate(0, -142%);
            animation-delay: -8.25s;
        }
        .loadbar-11 {
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: rotate(300deg) translate(0, -142%);
            animation-delay: -9.1667s;
        }
        .loadbar-12 {
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: rotate(330deg) translate(0, -142%);
            animation-delay: -10.0833s;
        }
    }
}
@-webkit-keyframes loader-fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.25;
    }
}
@keyframes loader-fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.25;
    }
}
.u-flex {
    display: flex;
}
.u-flex-flow-row {
    @extend %extend_1;
}
.u-flex-row {
    @extend %extend_1;
    display: flex;
}
.u-flex-flow-column {
    @extend %extend_2;
}
.u-flex-column {
    @extend %extend_2;
    display: flex;
}
.u-flex-centered {
    //Instead of the line below you could use @include box-align($alignment)
    box-align: center;
    //Instead of the line below you could use @include box-pack($pack)
    box-pack: center;
    align-items: center;
}
.u-inflexible {
    @extend %extend_3;
}
.u-flex-0 {
    @extend %extend_3;
}
.u-flex-1 {
    flex: 1;
    flex-shrink: 1;
    flex-basis: 1;
}
.u-flex-2 {
    flex: 2;
    flex-shrink: 1;
    flex-basis: 1;
}
.u-flex-3 {
    flex: 3;
    flex-shrink: 1;
    flex-basis: 1;
}
.u-flex-4 {
    flex: 4;
    flex-shrink: 1;
    flex-basis: 1;
}
.u-flex-5 {
    flex: 5;
    flex-shrink: 1;
    flex-basis: 1;
}
.u-flex-6 {
    flex: 6;
    flex-shrink: 1;
    flex-basis: 1;
}
.u-flex-7 {
    flex: 7;
    flex-shrink: 1;
    flex-basis: 1;
}
.u-flex-8 {
    flex: 8;
    flex-shrink: 1;
    flex-basis: 1;
}
.u-flex-9 {
    flex: 9;
    flex-shrink: 1;
    flex-basis: 1;
}
.u-flex-10 {
    flex: 10;
    flex-shrink: 1;
    flex-basis: 1;
}
.u-bold {
    font-weight: bold;
}
.u-nowrap {
    white-space: nowrap;
}
.u-nonav {
    touch-callout: none;
}
.u-unselectable {
    touch-callout: none;
    //Instead of the line below you could use @include user-select($select)
    user-select: none;
}
.u-height-auto {
    height: auto;
}
.u-width-auto {
    width: auto;
}
.u-height-fill {
    height: 100%;
}
.u-fill {
    height: 100%;
    width: 100%;
}
.u-width-fill {
    width: 100%;
}
.u-margin-auto {
    margin: auto;
}
.u-border-box {
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
    * {
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
    }
}
.u-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.u-absolute {
    position: absolute;
}
.u-relative {
    position: relative;
}
.u-absolute-centering {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.z-scroller {
    overflow: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    //Instead of the line below you could use @include box-orient($orientation)
    box-orient: vertical;
    flex: 1 1 auto;
    .z-content-wrapper {
        flex: 1 1 auto;
        display: flex;
        align-items: stretch;
        align-content: flex-start;
        justify-content: flex-start;
        flex-pack: start;
        flex-direction: row;
        flex-flow: row;
        //Instead of the line below you could use @include box-orient($orientation)
        box-orient: horizontal;
        position: relative;
        overflow: hidden;
        z-index: 10;
    }
    .z-content-wrapper-fix {
        z-index: -1;
        flex: 1;
    }
}
.z-vertical-scroller {
    overflow: hidden;
    overflow-y: auto;
    right: 0;
    top: 0;
    width: 1px;
    flex: none;
    visibility: hidden;
}
.z-horizontal-scroller {
    height: 0.1px;
    visibility: hidden;
}
.z-vertical-scrollbar {
    overflow: hidden;
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
}
.z-horizontal-scrollbar {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translate3d(0px, 0, 1px);
    flex: 0 0 auto;
    height: auto;
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
    overflow: auto;
    z-index: 100;
    &.mac-fix {
        display: flex;
        flex-direction: row;
        flex-flow: row;
        //Instead of the line below you could use @include box-orient($orientation)
        box-orient: horizontal;
        align-items: stretch;
        align-content: flex-start;
        justify-content: stretch;
        flex-pack: justify;
    }
}
.z-horizontal-scrollbar-fix {
    flex: 1;
    overflow: auto;
}
.z-unselectable {
    touch-callout: none;
    //Instead of the line below you could use @include user-select($select)
    user-select: none;
}
.react-datagrid {
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
    flex-direction: column;
    flex-flow: column;
    //Instead of the line below you could use @include box-orient($orientation)
    box-orient: vertical;
    align-items: stretch;
    font-size: rem-calc(14);
    * {
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
    }
    .z-resize-proxy {
        position: absolute;
        height: 100%;
        top: 0;
        display: none;
        width: 3px;
        z-index: 1000;
        border-left: 1px solid $data-grid-grey4;
    }
    .z-row {
        //Instead of the line below you could use @include user-select($select)
        user-select: none;
        border-left: 1px solid transparent;
        &.z-over {
            //background: rgba($data-grid-alt2, 0.5);
            //border: 1px solid $data-grid-alt2;
        }
        &.z-selected {
            background: rgba($data-grid-alt2, 0.5);
            border: 1px solid $data-grid-alt2;
            border-bottom: none;
            &.last {
                border-bottom: 1px solid $data-grid-alt2;
            }
            & + .z-selected {
                border-top: none;
            }


        }

        .z-cell {
            display: flex;
            align-items: center;
            cursor: default;
            height: 31px;
            .z-content {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 0 6px;
            }
        }
    }
    .react-datagrid-pagination-toolbar {
        //Instead of the line below you could use @include user-select($select)
        user-select: none;
    }
    .loadmask {
        z-index: 100;
    }
    .z-header-menu-column {
        z-index: 100;
        background: $white;
        position: absolute;
        top: 0;
        .menu-row {
            touch-callout: none;
            //Instead of the line below you could use @include user-select($select)
            user-select: none;
            &.over {
                background: $data-grid-alt2;
            }
        }
    }
    .z-header-wrapper {
        width: 100%;
        flex: 0 0 auto;
        background: $data-grid-grey1;
        border-bottom: 1px solid $data-grid-grey4;
        &.z-dragging .z-column-header:not(.z-drag) {
            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: left 0.4s;
        }

    }
    .z-footer-wrapper {
        width: 100%;
        background: linear-gradient(to bottom, $data-grid-grey1 0, $data-grid-grey2 13%, $data-grid-grey3 100%);
    }
    .z-table {
        display: block;
        flex: 1;
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translate3d(0px, 0, 0);
        position: relative;
        z-index: 10;
        .z-row {
            @extend %extend_4;
        }
    }
    .z-header {
        @extend %extend_4;
        align-items: stretch;
        .z-column-header.z-cell {
            &.z-last {
                border-right: 1px solid $white;
            }
            &:not(.z-first) {
                border-left: 1px solid $white;
            }
        }
    }
    .z-summary {
        @extend %extend_4;
        border-top: 1px solid $data-grid-grey4;
        align-items: stretch;
        .z-cell {
            position: relative;
            border-bottom: 1px solid $data-grid-grey4;
            .z-inner {
                display: flex;
                align-items: center;
                align-content: flex-start;
                flex-direction: row;
                flex-flow: row;
                //Instead of the line below you could use @include box-orient($orientation)
                box-orient: horizontal;
                height: 100%;
            }
            .z-content {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            &.z-last {
                border-right: 1px solid $data-grid-grey4;
            }
            &:not(.z-first) {
                border-left: 1px solid $data-grid-grey4;
            }
        }
    }
    .z-mask-wrapper {
        bottom: 0;
        width: 100%;
        position: absolute;
        display: none;
    }
    &.z-empty {
        .z-content-wrapper-fix {
            display: flex;
        }
        .z-table-wrapper {
            flex-direction: column;
            flex-flow: column;
            //Instead of the line below you could use @include box-orient($orientation)
            box-orient: vertical;
            justify-content: center;
            flex-pack: center;
            align-items: center;
        }
        .z-empty-text {
            width: 100%;
            justify-content: center;
            flex-pack: center;
            align-items: center;
            display: flex;
            font-style: italic;
            color: $data-grid-grey4;
        }
    }
    .z-column-header {
        position: relative;
        .z-inner {
            display: flex;
            align-items: center;
            align-content: flex-start;
            flex-direction: row;
            flex-flow: row;
            //Instead of the line below you could use @include box-orient($orientation)
            box-orient: horizontal;
            height: 100%;
        }
        .z-content {
            cursor: default;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            height: 30px;
            padding: 5px 6px !important;
        }
        &.z-over {
            background: linear-gradient(to bottom, $data-grid-grey1 0, $data-grid-grey1 13%, $data-grid-grey1 100%);
        }
        .z-icon-sort-info {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 10px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
        }
        &.z-drag {
            z-index: 1;
            background: linear-gradient(to bottom, $data-grid-grey1 0, $data-grid-grey1 13%, $data-grid-grey1 100%);
            border-right: 1px solid $data-grid-grey4;
            border-left: 1px solid $data-grid-grey4;
        }
        .z-column-resize {
            display: inline-block;
            height: 100%;
            width: 3px;
            right: 0;
            cursor: e-resize;
            top: 0;
            position: absolute;
            z-index: 10;
        }
        &.z-sortable .z-content {
            cursor: ew-resize;
        }
        &.z-asc .z-icon-sort-info {
            border-bottom: 8px solid $data-grid-alt2;
        }
        &.z-desc .z-icon-sort-info {
            border-top: 8px solid $data-grid-alt2;
        }
        &.z-last .z-inner .z-column-resize {
            display: none !important;
        }
    }
    .z-column-content {
        overflow: visible;
    }
    .z-group-row {
        background: $data-grid-grey3;
        &.z-over {
            background: $data-grid-grey3;
            &.z-odd {
                background: $data-grid-grey3;
            }
        }
    }
    .z-group-cell {
        flex: 1;
    }
    &.z-cell-borders-vertical {
        .z-cell {
            &.z-last:not(.z-column-header) {
                border-right: 1px solid $data-grid-grey3;
            }
            &:not(.z-first):not(.z-column-header) {
                border-left: 1px solid $data-grid-grey3;
            }
        }
        .z-group-row .z-cell:not(.z-column-header) {
            border-right: 1px solid $data-grid-grey3;
        }
    }
    &.z-columns-resizable .z-resize-proxy {
        display: block;
    }
    > .z-inner {
        flex: 1;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-flow: column;
        //Instead of the line below you could use @include box-orient($orientation)
        box-orient: vertical;
        .z-wrapper {
            display: flex;
            flex-direction: column;
            flex-flow: column;
            //Instead of the line below you could use @include box-orient($orientation)
            box-orient: vertical;
            flex: 1 1 auto;
            overflow: hidden;
        }
    }
    &.z-loading .z-mask-wrapper {
        display: block;
    }
    &.z-with-column-menu .z-column-header {
        .z-show-filter {
            @extend %extend_5;
            right: 15px;
            background: $white;
        }
        .z-show-menu {
            @extend %extend_5;
            &.z-active {
                background: $white;
            }
            &:hover {
                background: $white;
            }
        }
        &.z-active {
            .z-show-menu {
                display: block;
            }
            &.z-filterable .z-show-filter {
                display: block;
            }
        }
        &.z-over {
            .z-show-menu {
                display: block;
            }
            &.z-filterable .z-show-filter {
                display: block;
            }
        }
        &.z-filtered {
            font-style: italic;
        }
        &.z-filterable .z-show-filter {
            &.z-active {
                background: $white;
            }
            &:hover {
                background: $white;
            }
        }
    }
    &.z-cell-ellipsis .z-row .z-cell .z-content {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    &.z-cell-borders-horizontal .z-cell:not(.z-column-header) {
        border-bottom: 1px solid $data-grid-grey3;
    }
}
