#app, .appContainer {
    height: 100%;
}
.fis-client {
    height: 100%;
    overflow: hidden;
    width: 100%;
    background-color: get-fis-colors(grayscale-2, base);
}

.fis-clientcontent {
    height: calc(100% - #{$header-height});
    margin-top: 61px;
    position: relative;
}
