.fis-stripe {
    padding: map_get($grid-column-responsive-gutter, medium);
    background-color: $white;
    margin-bottom: map_get($grid-column-responsive-gutter, medium);
    //font-family: "Segoe UI Mono", Consolas, "Liberation Mono", Courier, monospace;
    header {
        position: relative;
        h2 {
            min-height: rem-calc(16px);
            font-size: rem-calc(14);
            font-weight: 700;
            margin-bottom: rem-calc(11);
            color: get-fis-colors(secondary, base);
        }
        .button {
            position: absolute;
            right: 0;
            top: 0;
            margin: 0;
            padding: 0;
        }
    }
    .fis-section-content {
        overflow: hidden;
        transition: all 0.8 ease-in-out;
        &.isOpended {
            height: auto;
        }
        &.isClosed {
            height: 0;
        }
        .inner {
            align-items: stretch;
            background-color: get-fis-colors(grayscale-1, base);
            display: flex;
            flex-flow: row wrap;
            position: relative;
            padding-bottom: 5px;

            .bottom-border {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                border-top: 2px solid $white;
                height: 0;

            }
        }

    }
    .fis-button-panel {
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;
        .button-group {
            flex-basis: content;
            display: inline-block;
            margin-bottom: 0;
            margin-top: 0;
            &+ .button-group {
                margin-left: 1rem;
            }
            .button {
                margin-left: rem-calc(10px);
                border-right-color: inherit;
            }
        }
    }
}