.fis-panel {
    padding: map_get($grid-column-responsive-gutter, medium) 190px map_get($grid-column-responsive-gutter, medium) map_get($grid-column-responsive-gutter, medium);
    background-color: get-fis-colors(grayscale-2, base);
    margin-bottom: map_get($grid-column-responsive-gutter, medium);
    height: 100%;
    .panel-content {
        height: 100%;
        overflow: auto;
    }
    .panel-buttons {
        height: 100%;
        background-color: get-fis-colors(grayscale-2, base);
        position: absolute;
        right: 0;
        top: 0;
        width: 190px;
        padding: map_get($grid-column-responsive-gutter, medium) map_get($grid-column-responsive-gutter, medium) 0 map_get($grid-column-responsive-gutter, medium);
        display: flex;
        flex-direction:column;
        align-items: stretch;
        justify-content: space-between;
        .fis-button-panel {
            flex-grow: 1;
            &:last-child  {
                margin-bottom: map_get($grid-column-responsive-gutter, small);
            }
        }
        .button-group {
            display: block;
            .button {
                margin-bottom: rem-calc(5px);
                margin-left: 0;
                width: 100%;
            }
        }
        .scroll-indicator {
            background-position: center top;
            background-repeat: no-repeat;
            background-position: center;
            height: map_get($grid-column-responsive-gutter, medium);
            background-position: center -10px;
            &.top {
                margin-top: map_get($grid-column-responsive-gutter, medium);
                background-image:url("../assets/svg/raw/arrow-up.svg");

            }
            &.bottom {
                background-image:url("../assets/svg/raw/arrow-down.svg");
                margin-bottom: map_get($grid-column-responsive-gutter, medium);
            }
        }
        .panel-buttons-scroll {
            flex-grow: 100;
            overflow: auto;
            margin: map_get($grid-column-responsive-gutter, small) 0;
            position: relative;
            .button-group {
                margin-bottom: map_get($grid-column-responsive-gutter, medium);
            }
        }

    }
}