<div class="demo-container" id="fis-data-grid-pattern"></div>
<script type="text/javascript">
  (function() {
    FisPatterns.ReactDOM.render(
      FisPatterns.React.createElement(FisPatterns.FisDataGridPattern, {}),
      document.getElementById("fis-data-grid-pattern")
    );
  })();
</script>
