<div class="demo-container" id="fis-data-grid-x-pattern"></div>
<script type="text/javascript">
    (function() {
        FisPatterns.ReactDOM.render(
            FisPatterns.React.createElement(FisPatterns.FisDataGridPatternX),
            document.getElementById("fis-data-grid-x-pattern")
        );
    })();
</script>
