<div class="demo-container" id="fis-stripe-pattern"></div>
<script type="text/javascript">
  (function() {
    FisPatterns.ReactDOM.render(
      FisPatterns.React.createElement(FisPatterns.FisStripePattern, {}),
      document.getElementById("fis-stripe-pattern")
    );
  })();
</script>
