

%triangle-arrow {
    margin-left: $datepicker-triangle-size;
    position: absolute;

    &,
    &::before {
        border: $datepicker-triangle-size solid transparent;
        box-sizing: content-box;
        height: 0;
        position: absolute;
        width: 1px;
    }

    &::before {
        border-bottom-color: $datepicker-border-color;
        border-width: $datepicker-triangle-size;
        content: "";
        left: -$datepicker-triangle-size;
        z-index: -1;
    }
}

%triangle-arrow-up {
    @extend %triangle-arrow;

    margin-top: -$datepicker-triangle-size;
    top: 0;
    &,
    &::before {
        border-bottom-color: $datepicker-background-color;
        border-top: 0;
    }

    &::before {
        border-bottom-color: $datepicker-border-color;
        top: -1px;
    }
}

%triangle-arrow-down {
    @extend %triangle-arrow;
    bottom: 0;
    margin-bottom: -$datepicker-triangle-size;
    &,
    &::before {
        border-bottom: 0;
        border-top-color: $white;
    }

    &::before {
        border-top-color: $datepicker-border-color;
        bottom: -1px;
    }
}

.datepicker {
    background-color: $white;
    border: 1px solid $datepicker-border-color;
    border-radius: $datepicker-border-radius;
    color: $body-font-color;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    position: relative;
}

.datepicker__container {
    display: inline-block;
    position: absolute;
    z-index: 2147483647;
}

.datepicker__triangle {
    left: 50px;
    position: absolute;
}

.tether-element-attached-top .datepicker__triangle {
    @extend %triangle-arrow-up;
}

.tether-element-attached-bottom .datepicker__triangle {
    @extend %triangle-arrow-down;
}

.datepicker__header {
    background-color: $datepicker-background-color;
    border-bottom: 1px solid $datepicker-border-color;
    border-top-left-radius: $datepicker-border-radius;
    border-top-right-radius: $datepicker-border-radius;
    padding-top: 8px;
    position: relative;
    text-align: center;
}

.datepicker__current-month {
    color: $body-font-color;
    font-size: 13px;
    font-weight: bold;
    margin-top: 0;
}

.datepicker__navigation {
    border: $datepicker-navigation-size solid transparent;
    cursor: pointer;
    line-height: $datepicker-item-size;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 0;

    &--previous {
        border-right-color: $datepicker-muted-color;
        left: 10px;

        &:hover {
            border-right-color: darken($datepicker-muted-color, 10%);
        }
    }

    &--next {
        border-left-color: $datepicker-muted-color;
        right: 10px;

        &:hover {
            border-left-color: darken($datepicker-muted-color, 10%);
        }
    }

    &--years {
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 0;

        &-previous {
            border-top-color: $datepicker-muted-color;
            top: 4px;

            &:hover {
                border-top-color: darken($datepicker-muted-color, 10%);
            }
        }

        &-upcoming {
            border-bottom-color: $datepicker-muted-color;
            top: -4px;

            &:hover {
                border-bottom-color: darken($datepicker-muted-color, 10%);
            }
        }
    }
}

.datepicker__week-day {
    color: $datepicker-muted-color;
    display: inline-block;
    line-height: $datepicker-item-size;
    width: $datepicker-item-size + (2 * $datepicker-day-margin);
}

.datepicker__month {
    margin: $datepicker-margin;
    text-align: center;
}

.datepicker__day {
    color: $body-font-color;
    cursor: pointer;
    display: inline-block;
    line-height: $datepicker-item-size;
    margin: $datepicker-day-margin;
    text-align: center;
    width: $datepicker-item-size;
    &:hover {
        background-color: $datepicker-background-color;
        border-radius: $datepicker-border-radius;
    }

    &--today {
        font-weight: bold;
    }

    &--selected,
    &--in-range {
        background-color: $datepicker-selected-color;
        border-radius: $datepicker-border-radius;
        color: $white;

        &:hover {
            background-color: darken($datepicker-selected-color, 5%);
        }
    }

    &--disabled {
        color: $datepicker-muted-color;
        cursor: default;
        &:hover {
            background-color: transparent;
        }
    }
}

.datepicker__input-container {
    position: relative;
}

.datepicker__input {
    &:not(:valid) ~ .close-icon {
        display: none;
    }
}

.datepicker__year-read-view {
    border: 1px solid transparent;
    border-radius: $datepicker-border-radius;
    bottom: 25px;
    left: 25%;
    position: absolute;
    width: 50%;
    &:hover {
        cursor: pointer;

        .datepicker__year-read-view--down-arrow {
            border-top-color: darken($datepicker-muted-color, 10%);
        }
    }

    &--down-arrow {
        @extend %triangle-arrow-down;
        border-top-color: $datepicker-muted-color;
        border-width: $datepicker-navigation-size;
        left: 5px;
        margin-bottom: $datepicker-margin;
        position: relative;
        top: 9px;
    }

    &--selected-year {
        position: relative;
        right: $datepicker-navigation-size;
    }
}

.datepicker__year-dropdown {
    background-color: $datepicker-background-color;
    border: 1px solid $datepicker-border-color;
    border-radius: $datepicker-border-radius;
    left: 25%;
    position: absolute;
    text-align: center;
    top: 30px;
    width: 50%;
    &:hover {
        cursor: pointer;
    }
}

.datepicker__year-option {
    display: block;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    &:first-of-type {
        border-top-left-radius: $datepicker-border-radius;
        border-top-right-radius: $datepicker-border-radius;
    }

    &:last-of-type {
        border-bottom-left-radius: $datepicker-border-radius;
        border-bottom-right-radius: $datepicker-border-radius;
        user-select: none;
    }

    &:hover {
        background-color: $datepicker-muted-color;
        .datepicker__navigation--years-upcoming {
            border-bottom-color: darken($datepicker-muted-color, 10%);
        }

        .datepicker__navigation--years-previous {
            border-top-color: darken($datepicker-muted-color, 10%);
        }
    }

    &--selected {
        left: 30px;
        position: absolute;

    }
}

.close-icon {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: inline-block;
    height: 0;
    outline: 0;
    padding: 0;
    vertical-align: middle;

    &::after {
        background-color: $datepicker-selected-color;
        border-radius: 50%;
        bottom: 0;
        box-sizing: border-box;
        color: $white;
        content: "\00d7";
        cursor: pointer;
        font-size: 12px;
        height: 16px;
        line-height: 1;
        margin: -8px auto 0;
        padding: 2px;
        position: absolute;
        right: 7px;
        text-align: center;
        top: 50%;
        width: 16px;
    }
}