<div class="demo-container" id="fis-typo-pattern"></div>
<script type="text/javascript">
    (function() {
        FisPatterns.ReactDOM.render(
                FisPatterns.React.createElement(FisPatterns.FisTypoPattern, {}),
                document.getElementById("fis-typo-pattern")
        );
    })();
</script>