<div class="demo-container" id="fis-buttongroup-pattern"></div>
<script type="text/javascript">
  (function() {
    FisPatterns.ReactDOM.render(
      FisPatterns.React.createElement(FisPatterns.FisButtonGroupPattern, {}),
      document.getElementById("fis-buttongroup-pattern")
    );
  })();
</script>
