<div class="demo-container" id="fis-dropdown-menu-pattern"></div>
<script type="text/javascript">
  (function() {
    FisPatterns.ReactDOM.render(
      FisPatterns.React.createElement(FisPatterns.FisDropdownMenuPattern, {}),
      document.getElementById("fis-dropdown-menu-pattern")
    );
  })();
</script>
