<div class="demo-container" id="fis-fieldset-pattern"></div>
<script type="text/javascript">
  (function() {
    FisPatterns.ReactDOM.render(
      FisPatterns.React.createElement(FisPatterns.FisFieldsetPattern, {}),
      document.getElementById("fis-fieldset-pattern")
    );
  })();
</script>
