<div class="demo-container" id="fis-textarea-pattern"></div>
<script type="text/javascript">
  (function() {
    FisPatterns.ReactDOM.render(
      FisPatterns.React.createElement(FisPatterns.FisTextareaPattern, {}),
      document.getElementById("fis-textarea-pattern")
    );
  })();
</script>
