.input-base {
    .input-group-field {
        flex: 1 1 100%;
        position: relative;
        display: flex;
    }
    &.info-flow {
        position: relative;
        input, textarea {
            padding-right: rem-calc(23);

        }
        &.is-invalid .input-group-button button .fis-icon {
            @extend .fis-icon-info-flow-error;
        }
        .input-group-button button .fis-icon {
            @extend .fis-icon-info-flow-default;
        }
    }
    &.has-textarea {
        .input-group-button {
            top: rem-calc(6);
            button {
                height: auto;
            }
        }
    }
    &.prefixed, &.suffixed {
        display: flex;
    }
    .suffix, .prefix {
        $height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));
        height: $height;
        flex: 0 0 auto;
        display: inline-block;
        font-size: $input-font-size;
        padding: $form-spacing /4  0;
    }

    .suffix {
        padding-left: rem-calc(3);
    }
    .prefix {
        padding-right: rem-calc(3);
    }
    .suffix-icon {
        margin-left: rem-calc(3);
        vertical-align: middle;
        margin-top: rem-calc(5);
        flex: 0 0 auto;
        .radio-checkbox-wrap & {
            margin-top: 0;
            margin-left: 0;
        }
    }
    .input-group-button {
        position: absolute;
        right: rem-calc(1);
        top: 0;
        button {
            padding-top: 0;
            height: 100%;
            padding-left: rem-calc(2px);
            padding-right: rem-calc(2px);
        }
    }
}


#{text-inputs()},textarea {
    padding: $form-spacing  rem-calc(map-get($grid-column-responsive-gutter, medium) / 2 );
    height: $input-height;
    margin-bottom: 0;
}
input, textarea {

    &[readonly], &[readonly]:focus {
        background-color: transparent;
        border-bottom-width: 1px;
        border-left-width: 0;
        border-right-width: 0;
        border-top-width: 0;
        box-shadow: none;
    }
    &.is-invalid-input, &.is-invalid-input:focus {
        color: $alert-color;
        background-color: rgba($alert-color, 0.1);
        border-color: $alert-color;
        &:focus{
            box-shadow: $input-shadow-focus-error;
        }
    }
    &[required] {
        background-image: url("../assets/svg/raw/asterisk.svg");
        background-position: -7px -7px;
        background-repeat: no-repeat;
    }
}


.input-wrap {
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: transparent !important;
    input:hover, input:focus {
        & + .label {
            display: block;
            opacity: 1;
        }
    }


    .fis-input-group {
        //display: flex;
        //flex-direction: row;
        margin-bottom: rem-calc(5px);
        > *:not(.fis-grid-row){
            vertical-align: middle;
            display: inline-block;
            margin-right: map-get($grid-column-responsive-gutter, medium);
            flex-grow: 1;
            &:last-child {
                margin-right: 0;
            }
        }
        .input-group {
            margin-bottom: 0;
        }
    }


    .alert.label {
        color: $white;
        background-color: get-fis-colors(addon-5, base);
        font-size: $small-font-size;
        left:0;
        margin-top: rem-calc(-5);
        min-width: 120px;
        position: absolute;
        top: 100%;
        transition: opacity 0.25s ease-in-out;
        white-space: normal;
        width: 100%;
        z-index:$dropdown-zindex;
        opacity: 0;
        &.visible {
            display: block;
            opacity: 1;
        }
    }
}
