.columns {
    background-color: $white;
    +.columns {
        background-color: $light-gray;
        +.columns {
            background-color: $medium-gray;
            +.columns {
                background-color: $dark-gray;

            }
        }
    }
}
